/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid black;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: black;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: black;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

body {
    color:black; 
    background-image: url("../campo.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 


button {
    background-color: #99c342;
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid black;
}

.border-secondary {
    border: 3px solid #0762C8;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: #095c36;
    background-color: #9dd3ba;
}

.text-warning-with-bg {
    color: #705400;
    background-color: #fdebb3;
}

.text-danger-with-bg {
    color: #990c19;
    background-color: #f0c1c6;
}

.text-new-gray {
    color:#CCCCCC;
} 

/*baner de cima */
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #99c342; */
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

* {
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
} 

/* linha de divisoria banner */
.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid black;
  background-color: #99c342;
}

/* direcionamento dos botões */
.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color:black;
}

/* negrito do botões em que a pagina esta */
.agora {
  font-weight: 800;
}

/* botões canto superior direito */
.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}