@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*baner de cima */
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #769a3b;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid black;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: black;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: black;
  background-image: url("../assets/imgs/campo1.png");
  background-size: cover;

}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* LOGIN */
 
.cadastro {
    margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: black;
}

.cadastro a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.img .subtitulo {
  text-align: center;
  height: 30%;
  margin-top: 23vh;
}

.subtitulo h1{
  color: black;
  position: relative;
  left: 25%;
}

.img {
  position: relative;
  right: 40rem;
  margin-top: -45%;
 
}

.img img {
  width: 600px;
  height: 300px;
}

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/campo1.png');
  background-size: cover;
  height: 87vh;
}

.login .container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  align-items: center;
  height: 100%;
}

.container {
  height: 500px;
}

.card {
  width: 50%;
  background-color: #507021;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  flex-direction: column;
  height: 350px;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 40px;
}

.formulario {
  display: flex;
  height: 100%;
  width: 85%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 20px;
  font-weight: 850;
}

.formulario input {
  border: 2px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: black;
  background-color: #99c342;
  width: 150px;
  height: 40px;
  align-self: center;
  margin-top: 5px;
  border: 2px solid #222e0b;

}

.botao:hover{
  background-color: #bbd88d;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  text-align: center; 
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 10px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}