@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*baner de cima */
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #769a3b;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid black;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: black;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.titulo {
  color: black;
  flex-direction: flex-start;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  background-image: url("../assets/imgs/campo1.png");
  background-size: cover;
  background-position: center;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;

}

.banner .container2 p {
  margin: 0;
  padding: 0;
}

.banner .container2 span {
  font-weight: 800;
}

/* CARDS */
.cardsobre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: nowrap;
  margin-top: 2%;

}

/* Corrigido: fonte legível, padding proporcional */
.flex-colunar1,
.flex-colunar2,
.flex-colunar3 {
  height: 100px;
  width: 60rem;
  background-color: #507021;
  color: #CCCCCC;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  text-overflow: ellipsis; /* coloca "..." se ultrapassar */
}

.flex-colunar1 p,
.flex-colunar2 p,
.flex-colunar3 p {
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
}